@media screen and (max-width:375px) {

    *{
    margin: 0px;
    border: border-box;
}
    .nav-logo {
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .nav-logo:hover {
        border: none;
    }

    .navbar {
        position: sticky;
        top:0;
        z-index: 1000;
        width: 100%;
        height: 100px;
        display: block;
        justify-content: center;
        align-items: center;
    }

    .navbar-sub {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* border-bottom: #232f3e solid 1px; */

    }

    .nav-links {
        display: none;
    }
    .nav-search {
        margin-top: 3px;
        display: flex;
        justify-content: left;
        width: 90%;
        /* margin-right: 20px;
        margin-left: 20px; */
    }



    .toggle-bar {
        display: block;
        margin-right: 10px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }

    .toggle-bar:hover {
        border: 1px solid white;
    }

    /* Hidden menu */

    .menu ul {
        list-style: none;
        padding: 0px;
    }

    .menu ul li {
        padding: 10px 0px;
        color: white;
        font-size: 6px;
        border-bottom: 1px solid #3a4553;
        font-size: 18px;
    }

    .menu {
        position: absolute;
        top: 100px;
        background: rgba(35, 47, 62, 0.9);
        width: 70%;
         left:150px; 
        padding: 10px 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Text styling */
    .menu div {
        align-items: normal;
        color: white;
        padding: 100px;
        margin: 0;
        padding-top: 20x;
    }


    .panel {
        display: flex;
        justify-content: center;
        height: 20px;
    }

    .panel-all {
        display: flex;
        font-size: 6px;
    }

    .panel-ops p {
        display: flex;
        align-items: center;
        font-size: 6px;
    }

    .panel-ops {
        display: flex;
       overflow-x: auto;
        align-items: center;
        gap: 15px;
        padding:10px;
        white-space: nowrap;

    }

    .panel-ops::-webkit-scrollbar {
        display:none;
    }


    .panel-shop {
        font-size: 6px;
        text-align: end;
        margin-right: 5px;
        font-weight: 100;
    }

    .hero-section {
        display: flex;
        justify-content: center;
        align-items:last baseline;
        width: 100%;
        height: 150px;
        background-image: url(hero_image.jpg);
        background-size: cover;
    }

    .content {
        height: 10px;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 90%;
        font-size: 4px;
    }

    .shop-section {
        /* display: flex;
        flex-wrap: wrap; */
    }


    .box {
        height: 270px;
        width: 40%;
    }

    .box1-img {
        height: 150px;
        margin: 10px;
    }

    .box2-img {
        height: 130px;
        margin: 10px;
    }

    .box3-img {
        height: 150px;
    }

    .box4-img {
        height: 150px;
    }

    .box5-img {
        height: 150px;
    }

    .box6-img {
        height: 150px;
    }

    .box7-img {
        height: 150px;
    }

    .box8-img {
        height: 150px;
    }

}
boxes{
    display: flex;
    flex-wrap: wrap;
    width:100px;
    /* justify-content: center; */
    /* gap: 10px; */
}